.info {
	background-color: #ebebeb;
	padding: 30px 30px;
	@media (max-width: 992px) {
	  margin-bottom: 0;
	}
  
	font-style: italic;
	font-size: 14px;
	line-height: 26px;
	color: #777777;
  }
  .img {
	max-width: 700px;
	width: 100%;
  }
  .btn-primary {
	width: 100%;
	max-width: 700px;
	padding: 20px;
  }
  