<app-navbar visible="true"></app-navbar>
<!-- 

	<div class="row justify-content-md-center">
		<div class="col-lg-5 info">
			<p><b>FIX & FLIP</b></p>
			<p>
				Invertí en adquisición de viviendas unifamiliares y multifamiliares para
				comprar y vender (Flipping) o para renta.
			</p>
			<ul>
				<li>Monto de inversión desde USD10.000.-</li>
				<li>Retorno estimado del 15% anual</li>
				<li>Plazo de inversión de 12 meses</li>
				<li>Pago de dividendos semestrales</li>
				<li>
					Envío de informes mensuales al grupo de inversores dentro de la
					comunidad
				</li>
			</ul>
		</div>
		<div class="col-lg-5" style="padding-left: 0">
			<img class="img" src="assets/img/projects/Proyecto_Fix&Flip.jpg" alt="" />
			<button class="btn btn-primary">Quiero que me contacten</button>
		</div>
	</div>
-->
<div class="title">Proyecto San Martín 630 - Accede desde 15.000 USD        </div>


  <section id="team" class="team section-bg body">
    <div class="container" data-aos="fade-up">
      <div class="main">
        <div class="subtitle">
          Desarrollo inmobiliario en Bernal, Quilmes, Zona Sur de Buenos Aires. Un edificio de 14 pisos <br> con 46
          departamentos. Invierte en metros cuadrados en pesos argentinos a valores de <br>preconstrucción y recibe dólares.
          Tickets de ingreso para invertir muy accesibles.
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch" style="padding-left:0;padding-right: 0">
            <div class="member">
              <div class="member-img">
                  <div class="col-lg-12">
                    <div class="top-car">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
             
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active text-center " data-interval="10000">
                          <img src="assets/img/projects/sanmartin-630/HOME.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="carousel-item text-center">
                          <img src="assets/img/projects/sanmartin-630/render-1600-2.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="carousel-item text-center">
                          <img src="assets/img/projects/sanmartin-630/render-1600-3.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="carousel-item text-center">
                          <img src="assets/img/projects/sanmartin-630/render-1600-4.jpg" class="img-fluid" alt="" />
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  </div>
                </div>
              
              <div class="member-info">
                <h4 class="member-title">Proyecto San Martín 630 
                </h4>
                <span class="subrrayado">Rentabilidad proyectada:</span>
                <span>Entre un 5% y un 14% anual en dólares.</span>
                <br />
                <span class="subrrayado">Ticket minimo:</span>
                <span>Desde USD 15.000  (o su equivalente en pesos)</span>
                <br />
                <span class="subrrayado">Tiempo estimado para obtener la renta:</span>
                <span>36 meses</span>
                <br />
                <span class="subrrayado">Garantia propietaria:</span>
                <span>M2 cuadrados de la propiedad </span>
                <br />
              </div>
              <div class="footer-card row text-left">
                <div class="col-12 flag">
                  <img src="assets/img/flags/argentina.png" class="circle" alt="" />
                </div>
                <div class="col-12 ubicacion ">
                  <p class="font-weight-bold">UBICACIÓN:</p>
                  <p>Quilmes, Argentina</p>
                  <a  class="ubicacion" href="https://goo.gl/maps/gFMH8W5tRpWAC24y9" target="_blank">Ver ubicación en Mapa</a>
                </div>
                <div class="col-12 ubicacion ">
                  <a href="https://goo.gl/maps/gFMH8W5tRpWAC24y9" target="_blank">
                  <img class="mapa"  src="assets/img/projects/mapa-ubi.png"/>
                  </a>
                </div>
              </div>
              <!-- <div class="footer-card row justify-content-center">
                <div class="col-12 text-center">
                  <img src="assets/img/flags/argentina.png" class="circle" alt="" />
                </div>
                <div class="col-12 ubicacion text-center">
                  <p class="font-weight-bold">UBICACIÓN:</p>
                  <p>Quilmes, Argentina</p>
                  <a  class="ubicacion" href="https://goo.gl/maps/gFMH8W5tRpWAC24y9">Ver ubicación en Mapa</a>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-lg-8 col-md-12 desc-md">
            <img  class="header-img img-fluid" src="assets/img/projects/Proyecto_Fix&Flip.jpg" alt="" />
            <div class="tex-center info-md ">
              <h4 class="title-project">Proyecto San Martín 630 
              </h4>
              <span class="">Rentabilidad proyectada:</span>
              <span> Entre un 5% y un 14% anual en dólares.</span>
              <br />
              <span class="">Ticket minimo:</span>
              <span> Desde 15.000 USD (o su equivalente en pesos)</span>
              <br />
              <span class="">Tiempo estimado para obtener la renta:</span>
              <span> 36 meses</span>
              <br />
              <span class="">Garantia propietaria:</span>
              <span> M2 cuadrados de la propiedad </span>
              <br />
            </div>
          </div>
          <div class="col-lg-8 col-md-12 description">
            <div class="cont">
            <p>
              San Martin 630 es un emprendimiento que combina la tranquilidad y añosa arboleda de un barrio residencial
              con todas las ventajas de la centralidad urbana.
            </p>
            <p>
              Sus unidades de 2 y 3 ambientes proponen una forma de habitar flexible y dinámica. Espacios integrados,
              grandes balcones aterrazados y ventanales en distintas caras para aprovechar las vistas.
            </p>
            <p>
              Sus tres pisos superiores alojan semipisos de 4 ambientes de amplias dimensiones diseñados para la
              comodidad y disfrute de sus usuarios. Equipados con parrilla desde donde admirar las visuales abiertas al
              Río.
            </p>
            <p>
              Un espacio SUM en el piso 14, Solarium y cómodas cocheras completan el edificio y lo vuelven ideal para
              vivir y disfrutar de un entorno único.
            </p>
            <p>
              El proyecto se encuentra ubicado a 200 metros de la calle que lleva al acceso de la autopista Bs As-La
              Plata y a tan solo a 300 metros de la calle comercial céntrica de Bernal, con acceso a bancos, escuelas,
              universidades y a la estación ferroviaria que se conecta con la Ciudad Autónoma de Buenos Aires (CABA).
            </p>
            <p>
              La obra ya está comenzada y su entrega no está comprometida a la venta de las unidades, ofreciendo una
              seguridad adicional a sus inversores.
            </p>
            <br />
            <br />
            <br />
            <div class="row d-flex justify-content-center">
              <button class="btn btn-sm btn-secondary" type="submit"  data-toggle="modal"   data-target=".bd-example-modal-lg"
              >Me interesa conocer más</button>
              <button class="btn btn-sm btn-primary">¿Quieres conocer la obra? Contáctate para visitarla</button>
            </div>
            <div class="row d-flex justify-content-center">
              <a class="link-pdf" href="https://www.thequalitybridgeblog.com/ProyectoSanMartin630.pdf" target="_blank">
                  <img src="assets/img/MANO-AZUL.png" class="img-fluid hand-img" alt="" />
                Conoce las unidades modelo</a>
            </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-video">
    <div class="container" data-aos="fade-up">
      <div>
        <h3 class="section-title">
          <span style="color: #2a38be">Ubicación estratégica: </span>Conócela desde las alturas
        </h3>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e3a61qIeXos" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section class="section-carrousel">
    <div class="container" data-aos="fade-up">
      <div>
        <h3 class="section-title" style="color: #191919">
          <span style="color: #2a38be">Avance de Obra: </span>Chequea como viene la construcción
        </h3>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center " data-interval="10000">
            <img src="assets/img/projects/sanmartin-630/Foto-4.jpg" class="img-fluid" alt="" />
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/projects/sanmartin-630/Foto-2.jpg" class="img-fluid" alt="" />
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/projects/sanmartin-630/Foto-3.jpg" class="img-fluid" alt="" />
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/projects/sanmartin-630/Foto-1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/projects/sanmartin-630/Foto-5.jpg" class="img-fluid" alt="" />
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/projects/sanmartin-630/Foto-6.jpg" class="img-fluid" alt="" />
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/projects/sanmartin-630/Foto-8.jpg" class="img-fluid" alt="" />
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>



<div
  #closeModal
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>


  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div
        class="row d-flex justify-content-center modal-body"
        data-aos="fade-up"
        data-aos-delay="100"
      >
      <div class="col-lg-12 text-center title-modal">
        <h2>Contacto</h2>
      </div>
      <br>

        <div class="col-lg-6">
          <form
            (ngSubmit)="saveDataUsuario(form)"
            #form="ngForm"
            role="form"
            class="php-email-form form"
          >
            <div class="form-row">
              <div class="col form-group">
                <input
                  [(ngModel)]="contactProyectForm.name"
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="*Nombre"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars"
                />
                <div *ngIf="wrongName" class="error">Se requiere nombre</div>

                <div class="validate"></div>
              </div>
              <div class="col form-group">
                <input
                  [(ngModel)]="contactProyectForm.lastName"
                  type="text"
                  class="form-control"
                  name="lastName"
                  id="lastName"
                  placeholder="*Apellido"
                  data-rule="lastName"
                  data-msg="Please enter a valid email"
                />
                <div *ngIf="wrongLastName" class="error">Se requiere apellido</div>

                <div class="validate"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <input
                  [(ngModel)]="contactProyectForm.email"
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="*E-mail"
                  data-rule="email"
                  data-msg="Please enter a valid email"
                />
                <div *ngIf="wrongEmail" class="error">Correo no válido</div>
                <div class="validate"></div>
              </div>
              <div class="col form-group">
                <input
                  [(ngModel)]="contactProyectForm.telefono"
                  type="text"
                  class="form-control"
                  name="telefono"
                  id="telefono"
                  placeholder="*Telefono"
                  data-rule="telefono"
                  data-msg="Please enter a phone"
                />
                <div *ngIf="wrongTelefono" class="error">Telefono</div>

                <div class="validate"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
              <textarea 
              [(ngModel)]="contactProyectForm.desc"
              placeholder="Observaciónes (opcional)" 
              class="form-control" 
              id="desc"  
              rows="3"></textarea>
              </div>
            </div>

            <br />
            <div class="text-center">
              <button [disabled]="wrongValidate"  class="btn btn-primary" type="submit"  >Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-shared-test
  compartir="Compartir proyecto con un colega"
  option3="true"
></app-shared-test> -->
<app-footer></app-footer>