<app-navbar visible="true"></app-navbar>
<!-- 

	<div class="row justify-content-md-center">
		<div class="col-lg-5 info">
			<p><b>FIX & FLIP</b></p>
			<p>
				Invertí en adquisición de viviendas unifamiliares y multifamiliares para
				comprar y vender (Flipping) o para renta.
			</p>
			<ul>
				<li>Monto de inversión desde USD10.000.-</li>
				<li>Retorno estimado del 15% anual</li>
				<li>Plazo de inversión de 12 meses</li>
				<li>Pago de dividendos semestrales</li>
				<li>
					Envío de informes mensuales al grupo de inversores dentro de la
					comunidad
				</li>
			</ul>
		</div>
		<div class="col-lg-5" style="padding-left: 0">
			<img class="img" src="assets/img/projects/Proyecto_Fix&Flip.jpg" alt="" />
			<button class="btn btn-primary">Quiero que me contacten</button>
		</div>
	</div>
-->

<div class="body" id="proyectos">
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="main">
        <div class="title">Land Investment</div>
        <div class="subtitle">
          XXXxxxx xxxx xxxxxx x x x xxxx x x x xxx x x x x xxxxx xx x xxxx x
          xxxx x xxxxx xxxxxxx
        </div>
        <div class="row">
          <div
            class="col-lg-4 col-md-4 d-flex align-items-stretch"
            style="padding-right: 0"
          >
            <div class="member">
              <div class="member-img">
                <img
                  src="assets/img/projects/Proyecto_Fix&Flip.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="member-info">
                <h4>XXXXXXX</h4>
                <span class="subrrayado">Rentabilidad proyectada:</span>
                <span>15% y 22% en dolares</span>
                <br />
                <span class="subrrayado">Ticket minimo:</span>
                <span>Desde 15000 U$S</span>
                <br />
                <span class="subrrayado">Tiempo para cobrar la renta:</span>
                <span>entre 4 y 6 meses</span>
                <br />
                <span class="subrrayado">Garantia propietaria:</span>
                <span>Check</span>
                <br />
              </div>
              <div class="footer-card row align-items-end">
                <div class="col-lg-2">
                  <img src="assets/img/flags/eeuu.png" class="circle" alt="" />
                </div>
                <div class="col-lg-4 ubicacion">
                  <p class="font-weight-bold">UBICACIÓN:</p>
                  <p>Miami - USA</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-8 col-md-4 description"
            style="background-color: #ebebeb"
          >
            <p>Descripción</p>
            <p>
              Proyecto situado en la localidad de Sierra Grande, en el balneario
              Playas Doradas, Provincia de Río Negro (Argentina). La inversión
              consiste en
              <b
                >adquirir una fracción de tierra y aportarla a un emprendimiento
                inmobiliario</b
              >
              . La tierra a adquirir es una fracción de 500 hectáreas, y la
              misma cuenta con un frente de aproximadamente 1 km sobre el Océano
              Atlántico. Los inversores tendrán de respaldo la titularidad de la
              tierra, lo que genera un amplio grado de respaldo y bajo nivel de
              riesgo.
            </p>
            <br />
            <p>
              Estamos en la primera etapa del fondeo y contará con cuatro etapas
              más. La inversión en esta primera etapa consiste en adquirir una
              fracción de tierra. Con el dinero aportado, se obtendrá el capital
              semilla necesario para poner en marcha el
              <b>proyecto inmobiliario que cuenta con 167 lotes</b>. Los mismos
              saldrán a la venta y tendrán un
              <b>tamaño de entre 1000 y 1200 Mt2</b>. Teniendo en cuenta los
              espacios que se dejarán como áreas verdes, los espacios
              recreativos, calles internas y obras del emprendimiento, el número
              de lotes a vender será de 3100. El valor de la tierra por Mt2 en
              la zona oscila entre 32 y 35 dólares sin obras, asfalto,
              mejoramientos, amenities, etc. Por lo que con las obras a realizar
              el valor del Mt2 se ubicará fácilmente entre los 40 y 44 dólares.
              Sólo será necesaria la venta de 14 lotes en el menor valor
              esperable para la devolución de capital, en un tiempo estimado de
              12 meses.
            </p>
            <div
              class="row justify-content-between"
              style="margin-top: 100px; padding: 10px"
            >
              <button class="btn btn-primary">Quiero que me contacten</button>
              <img src="/assets/img/1x/project-detail.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-shared-test
  compartir="Compartir proyecto con un colega"
  option3="true"
></app-shared-test>
