<app-navbar visible="true"></app-navbar>
<!-- 

	<div class="row justify-content-md-center">
		<div class="col-lg-5 info">
			<p><b>FIX & FLIP</b></p>
			<p>
				Invertí en adquisición de viviendas unifamiliares y multifamiliares para
				comprar y vender (Flipping) o para renta.
			</p>
			<ul>
				<li>Monto de inversión desde USD10.000.-</li>
				<li>Retorno estimado del 15% anual</li>
				<li>Plazo de inversión de 12 meses</li>
				<li>Pago de dividendos semestrales</li>
				<li>
					Envío de informes mensuales al grupo de inversores dentro de la
					comunidad
				</li>
			</ul>
		</div>
		<div class="col-lg-5" style="padding-left: 0">
			<img class="img" src="assets/img/projects/Proyecto_Fix&Flip.jpg" alt="" />
			<button class="btn btn-primary">Quiero que me contacten</button>
		</div>
	</div>
-->

<div class="body" id="proyectos">
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="main">
        <div class="title">Proyecto San Martín 630 - Accede desde 15.000 USD
        </div>
        <div class="subtitle">
          Desarrollo inmobiliario en Bernal, Quilmes, Zona Sur de Buenos Aires. Un edificio de 14 pisos <br> con 46
          departamentos. Invierte en metros cuadrados en pesos argentinos a valores de <br>preconstrucción y recibe dólares.
          Tickets de ingreso para invertir muy accesibles.
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 d-flex align-items-stretch" style="padding-left:0;padding-right: 0">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/projects/Proyecto_Fix&Flip.jpg" class="img-fluid" alt="" />
              </div>
              
              <div class="member-info">
                <h4 class="member-title">Proyecto San Martín 630 
                </h4>
                <span class="subrrayado">Rentabilidad proyectada:</span>
                <span>Entre un 5% y un 14% anual en dólares.</span>
                <br />
                <span class="subrrayado">Ticket minimo:</span>
                <span>Desde 15.000 USD (o su equivalente en pesos)</span>
                <br />
                <span class="subrrayado">Tiempo estimado para obtener la renta:</span>
                <span>36 meses</span>
                <br />
                <span class="subrrayado">Garantia propietaria:</span>
                <span>M2 cuadrados de la propiedad </span>
                <br />
              </div>
              <div class="footer-card row justify-content-center">
                <div class="col-12 text-center">
                  <img src="assets/img/flags/argentina.png" class="circle" alt="" />
                </div>
                <div class="col-12 ubicacion text-center">
                  <p class="font-weight-bold">UBICACIÓN:</p>
                  <p>Quilmes, Argentina</p>
                  <a  class="ubicacion" href="https://goo.gl/maps/gFMH8W5tRpWAC24y9">Ver ubicación en Mapa</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 desc-md">
            <img  class="header-img img-fluid" src="assets/img/projects/Proyecto_Fix&Flip.jpg" alt="" />
            <div class="tex-center info-md ">
              <h4 class="title-project">Proyecto San Martín 630 
              </h4>
              <span class="">Rentabilidad proyectada:</span>
              <span> Entre un 5% y un 14% anual en dólares.</span>
              <br />
              <span class="">Ticket minimo:</span>
              <span> Desde 15.000 USD (o su equivalente en pesos)</span>
              <br />
              <span class="">Tiempo estimado para obtener la renta:</span>
              <span> 36 meses</span>
              <br />
              <span class="">Garantia propietaria:</span>
              <span> M2 cuadrados de la propiedad </span>
              <br />
            </div>
          </div>
          <div class="col-lg-8 col-md-12 description">
            <div class="cont">
            <p>
              San Martin 630 es un emprendimiento que combina la tranquilidad y añosa arboleda de un barrio residencial
              con todas las ventajas de la centralidad urbana.
            </p>
            <p>
              Sus unidades de 2 y 3 ambientes proponen una forma de habitar flexible y dinámica. Espacios integrados,
              grandes balcones aterrazados y ventanales en distintas caras para aprovechar las vistas.
            </p>
            <p>
              Sus tres pisos superiores alojan semipisos de 4 ambientes de amplias dimensiones diseñados para la
              comodidad y disfrute de sus usuarios. Equipados con parrilla desde donde admirar las visuales abiertas al
              Río.
            </p>
            <p>
              Un espacio SUM en el piso 14, Solarium y cómodas cocheras completan el edificio y lo vuelven ideal para
              vivir y disfrutar de un entorno único.
            </p>
            <p>
              El proyecto se encuentra ubicado a 200 metros de la calle que lleva al acceso de la autopista Bs As-La
              Plata y a tan solo a 300 metros de la calle comercial céntrica de Bernal, con acceso a bancos, escuelas,
              universidades y a la estación ferroviaria que se conecta con la Ciudad Autónoma de Buenos Aires (CABA).
            </p>
            <p>
              La obra ya está comenzada y su entrega no está comprometida a la venta de las unidades, ofreciendo una
              seguridad adicional a sus inversores.
            </p>
            <br />
            <br />
            <br />
            <div class="row ">
              <div class="col-md-8">
              <button class="btn btn-sm btn-primary">¿Quieres conocer la obra? Contáctate para visitarla</button>
            </div>
              <div class="col-md-1 d-flex align-items-center justify-content-center">
                <a class="link-pdf" href="https://www.thequalitybridgeblog.com/ProyectoSanMartin630.pdf" target="_blank">

                <img  class="downloadIMG" src="/assets/img/pdf-4.png" alt="" />
                </a>
              </div>
              <div class="col-md-3 d-flex align-items-center justify-content-center">
                <a class="link-pdf" href="https://www.thequalitybridgeblog.com/ProyectoSanMartin630.pdf" target="_blank">
                  Conoce las unidades modelo</a>
              </div>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <app-shared-test
  compartir="Compartir proyecto con un colega"
  option3="true"
></app-shared-test> -->
<app-footer></app-footer>