/*
.info {
  background-color: #ebebeb;
  padding: 30px 30px;
  @media (max-width: 992px) {
    margin-bottom: 0;
  }

  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.img {
  max-width: 700px;
  width: 100%;
}
.btn-primary {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.title {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 42px;
}

.subtitle {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.body {
  font-family: "Gotham Book", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin: auto;

  padding-top: 100px;
}
.col-centered {
  float: none;
  margin: 0 auto;
  display: block;
}
.btn-primary {
  background: #2a38be;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #111;
  text-align: left;
}
.subrrayado {
  text-decoration: underline;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.ubicacion {
  padding: 0px;
  font-size: 10px;
}

.ubicacion p {
  font-size: 10px;
}

.right {
  float: right;
}

.footer-card p {
  line-height: 1px;
}

.text-tag {
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.tag {
  background-color: #111;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 40px;
  justify-content: center;
}

 .section-title p {
   margin: 0;
}
*/
.title {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 42px;
  text-align: center;
  color: #FFF;
  padding: 20px;
}

.subtitle {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 60px;

  color: #2a38be;
  @media (max-width: 650px) {
    font-size: 15px;
  }
}

.body {
  font-family: "Gotham Book", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 100px;
  @media (max-width: 650px) {
    font-size: 10px;

  }
}
.col-centered {
  float: none;
  margin: 0 auto;
  display: block;
}
.btn-primary {
  background: #2a38be;
  padding: 20px;
  @media (max-width: 760px) {
    margin: auto;
  }
}

.team .member .member-info span {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #111;
  text-align: left;
}
.subrrayado {
  text-decoration: underline;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.ubicacion {
  font-size: 10px;
  text-align: left;

}

.ubicacion p {
  font-size: 10px;
}

.right{
	text-align: right;
  }

.footer-card p {
  line-height: 1px;
}

.text-tag {
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.tag {
  background-color: #111;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 40px;
  justify-content: center;
}

.member {
  margin-bottom: 0;
  @media (max-width: 1000px) {
    display: none;

  }
}

.description {
  font-size: 16px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  color: #000;
  @media (max-width: 500px) {
    font-size: 11px;

  }
}

.cont{
  background-color: #ececec;
  padding: 60px;
  font-size: 17px;
  font-family: "Gotham Book", sans-serif;
  @media (max-width: 500px) {
    padding: 20px;

  }
}

.downloadIMG {
  height: 80%;
  text-align: left !important;
  @media (max-width: 500px) {
    padding: 50px;

  }
}

a{
  color: #2a38be;
}
a:hover{
  color: #449bec;
}

.header-img{
  width: 100%;
}
.desc-md{
margin-bottom: 30px;
margin-top: 30px;
display: none;
@media (max-width: 1000px) {
display: block;
}
}

.info-md{
  margin-top: 30px;

  @media (max-width: 500) {
    font-size: 10px !important;
    }
}

.title-project{
  color: #2a38be;
}

.member-title{
margin-bottom: 30px !important;
}

member-info{
  font-size: 30px !important;
}

.ubicacion{
  font-size: 14px;
}

.link-pdf{
  font-size: 11px;
  text-align: center !important;
  line-height : 15px;


}

.title{
  background-color: #111;
  padding-bottom: 100px;
  padding-top: 100px;

}

section{
  padding-top: 0px;
}

.flag{
  margin-left: -7px;
  margin-bottom: 5px;
}
.member-info{
  padding-bottom: 0px !important;
}