.main {
  background-color: #000000;
  padding-top: 30px;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-family: "Gotham Book", sans-serif;
  margin: 15px;
  font-size: 32px;
  font-weight: 700;
}
.subtitle{
	color: #ffffff;
	text-align: center;
	font-family: "Gotham Book", sans-serif;
	margin: 15px;
	font-size: 20px;
	font-weight: 700;
}