<section id="webinar" class="webinar">
  <div class="container" data-aos="fade-up">
    <div class="row align-items-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12">
        <p class="novedad" style="margin: 0px 0px 0px 35px">
          <i class="bi bi-star" style="color: yellow"></i> novedad
        </p>
      </div>
    </div>

    <div
      class="row align-items-center header"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="col-lg-6">
        <img
          src="assets/img/BLOG_THEQUALITYBLOG.png"
          class="img-fluid title-image"
          alt=""
        />
      </div>
      <div class="col-lg-2 text-center eco">
        <h5>
          <span class="numeral">#</span>
          <a
            href=""
            class="typewrite"
            data-period="2000"
            data-type='[ "Economía", "RealEstate", "Finanzas", "MercadoLocal", "MercadoInternacional" ]'
          >
            <span class="wrap"></span>
          </a>
        </h5>
      </div>
      <div class="col-lg-3 text-right">
        <img src="assets/img/BLOG_MANOS.jpg" class="img-hands" alt="" />
      </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-5 texto-superior-izquierdo">
        <p>
          Aquí encontrarás contenido clave, material e informacion de interés
          sobre el ecosistema de inversiones para continuar en movimiento
        </p>
        <button
          (click)="goToBlog()"
          type="button"
          class="btn btn-primary degrade"
        >
          Ingresar
        </button>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/BLOG_MOCKUP.png" class="img-fluid" alt="" />
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-3 streaming">
        <div class="col-lg-12 eco row align-items-center">
          <td class="circle"></td>
          <td class="str">STREAMING</td>
        </div>
      </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-3 texto-superior-izquierdo">
        <div class="col-lg-12 text-center ">
            <!-- <span class="circle-webinar ">.</span> -->
            <p class="webinar-title"  style="display:inline">WEBINARS</p>
        </div>

        <p class="webinar-text">
          Conoce nuestros ciclos de webinars para ampliar tu visión como
          inversor:
          <br />
          Conversaciones con especialistas
          <br />
          Laboratorio de proyectos
          <br />
          Presentación de oportunidades
        </p>
      </div>
      <div class="col-lg-8 texto-superior-izquierdo">
        <div class="col-lg-12">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="2"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="3"
              ></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active text-center">
                <img
                  src="assets/img/webinars/MINIATURA_WEBINAR_01.jpg"
                  class="carousel-img"
                  alt=""
                />
              </div>
              <div class="carousel-item text-center">
                <img
                  src="assets/img/webinars/MINIATURA_WEBINAR_02.jpg"
                  class="carousel-img"
                  alt=""
                />
              </div>
              <div class="carousel-item text-center">
                <img
                  src="assets/img/webinars/MINIATURA_WEBINAR_03.jpg"
                  class="carousel-img"
                  alt=""
                />
              </div>
              <div class="carousel-item text-center">
                <img
                  src="assets/img/webinars/MINIATURA_WEBINAR_04.jpg"
                  class="carousel-img"
                  alt=""
                />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row flash-report" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-12">
        <div class="text-center">
          <img
            src="assets/img/TQB_FLASH REPORT_LOGO.png"
            class="img-fluid flash-img"
            alt=""
          />
        </div>
        <div class="text-center flash-report-text">
          <p>
            ¿Eres un curioso del mundo de las inversiones?
            <br />
            Súmate al reporte semanal de The Quality Bridge. Únete a nuestro
            grupo de telegram o listas de Whatsapp y recibe todos los viernes
            tres noticias de impacto con un análisis realizado por nuestros
            especialistas.
          </p>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-primary join">
            Unirme a Telegram
            <i class="bi bi-telegram"></i>
          </button>
          <button type="button" class="btn btn-primary join">
            Unirme a Whatsapp
            <i class="bi bi-whatsapp"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
