<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<section id="webinar" class="webinar">
  <div class="container" data-aos="fade-up">
    <p class="main-title">La Multiplataforma que impulsa el movimiento.</p>

    <div class="row align-items-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12">
        <p class="novedad" style="margin: 0px 0px 0px 35px">
          <i class="bi bi-star" style="color: yellow"></i> novedad
        </p>
      </div>
    </div>
    <div
      class="row align-items-center header"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="col-lg-6">
        <img
          src="assets/img/BLOG_THEQUALITYBLOG.png"
          class="img-fluid title-image"
          alt=""
        />
      </div>
      <div class="col-lg-2 text-center eco">
        <h5>
          <span class="numeral">#</span>
          <a
            href=""
            class="typewrite"
            data-period="2000"
            data-type='[ "Economía", "RealEstate", "Finanzas", "MercadoLocal", "MercadoInternacional" ]'
          >
            <span class="wrap"></span>
          </a>
        </h5>
      </div>
      <div class="col-lg-3 text-right">
        <img src="assets/img/BLOG_MANOS.jpg" class="img-hands" alt="" />
      </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-5 texto-superior-izquierdo">
        <p>
          Aquí encontrarás contenido clave, material e información de interés
          sobre el ecosistema de inversiones para continuar en movimiento.
          Notas, reportes, análisis, consejos, recomendaciones y mucho más.
          Contado por periodistas especializados de los medios más importantes y
          reconocidos profesionales del mundo de los negocios. Además, si eres
          miembro de la comunidad accederás a artículos exclusivos.
        </p>
        <a target="_blank">
          <button
            (click)="goToBlog()"
            type="button"
            class="btn btn-primary degrade"
          >
            Ingresar
          </button>
        </a>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/BLOG_MOCKUP.png" class="img-fluid" alt="" />
      </div>
    </div>

    <!-- <div class="row" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-3 streaming">
        <div class="col-lg-12 eco row">
          <td class="circle"></td>
          <td class="str">STREAMING</td>
        </div>
      </div>
    </div> -->

    <div class="row" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-3 texto-superior-izquierdo">
        <div class="row centrar">
          <div class="row movie-hidden" data-aos="fade-up" data-aos-delay="300">
            <td class="circle"></td>
            <td>STREAMING</td>
          </div>
          <div class="webinar-title">WEBINARS</div>
        </div>

        <p class="webinar-text">
          Próximamente presentaremos ciclos de webinars para ampliar tu visión
          como inversor:
          <br />
          - Conversaciones con especialistas
          <br />
          - Laboratorio de proyectos
          <br />
          - Presentación de oportunidades
        </p>
      </div>

      <div class="col-lg-8 texto-superior-izquierdo">
        <div class="col-lg-12">
          <div
            id="carouselExampleInterval"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div
                class="carousel-item active text-center"
                data-interval="10000"
              >
                <img
                  src="assets/img/webinars/MINIATURA-WEBINAR-FIX-&-FLIP.jpg"
                  class="carousel-img"
                  alt=""
                />
              </div>
              <div class="carousel-item text-center">
                <img
                  src="assets/img/webinars/MINIATURA-WEBINAR-REAL-ESTATE.jpg"
                  class="carousel-img"
                  alt=""
                />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleInterval"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleInterval"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row flash-report" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-12">
        <div class="text-center">
          <img
            src="assets/img/TQB_FLASH REPORT_LOGO.png"
            class="img-fluid flash-img"
            alt=""
          />
        </div>
        <div class="text-center flash-report-text">
          <p>
            ¿Eres un curioso del mundo de las inversiones? <br />
            ¿Quieres tener información hiper actualizada?
            <br />
            Agéndanos en Whatsapp o sumáte a Telegram y recibe noticias claves
            qué tendrán impacto en tus decisiones de inversión: qué pasa en el
            mundo a nivel político y económico, cómo reaccionan los mercados
            ante los cambios, cuáles son las tendencias más influyentes.
          </p>
        </div>
        <!--COLOR WPP: #4ccb5a ////////// COLOR TELEGRAM: #0393d9-->
        <div *ngIf="checkWidth() === true" class="text-center">
          <a
            rel="noreferrer"
            href="https://api.whatsapp.com/send?phone=+5491158153114&text=Hola,%20ya%20los%20agend%C3%A9%20para%20poder%20formar%20parte%20del%20TQB%20Flash%20Report"
            target="_blank"
          >
            <button type="button" class="btn btn-primary join">
              Quiero agendarlos en Whatsapp
              <i class="bi bi-whatsapp wpp_help"></i>
            </button>
          </a>
          <a href="https://t.me/TheQualityBridge" target="_blank">
            <button type="button" class="btn btn-primary join">
              Quiero sumarme al grupo de Telegram
              <i class="bi bi-telegram telegram_help"></i>
            </button>
          </a>
        </div>
        <div *ngIf="checkWidth() === false" class="text-center">
          <a
            rel="noreferrer"
            href="https://api.whatsapp.com/send?phone=+5491158153114&text=Hola,%20ya%20los%20agend%C3%A9%20para%20poder%20formar%20parte%20del%20TQB%20Flash%20Report"
            target="_blank"
          >
            <button type="button" class="btn btn-primary join">
              Whatsapp
              <i class="bi bi-whatsapp wpp_help"></i>
            </button>
          </a>
          <a href="https://t.me/TheQualityBridge" target="_blank">
            <button type="button" class="btn btn-primary join">
              Telegram
              <i class="bi bi-telegram telegram_help"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap.js"></script>

<!-- 
<div class="col-lg-8 texto-superior-izquierdo">
  <div class="col-lg-12">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <img src="assets/img/webinars/MINIATURA-WEBINAR-FIX-&-FLIP.jpg" class="carousel-img" alt="" />
        </div>
        <div class="carousel-item text-center">
          <img src="assets/img/webinars/MINIATURA-WEBINAR-REAL-ESTATE.jpg" class="carousel-img" alt="" />
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> -->
