<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-navbar visible="true"></app-navbar>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first logo">
            <img src="../../assets/img/logo.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="POST">
            <input [(ngModel)]="changePasswordForm.currentMail" name="currentMail" id="currentMail" type="text" class="fadeIn first" placeholder="email actual">
            <input [(ngModel)]="changePasswordForm.currentPassword" name="currentPassword" id="currentPassword" type="password" class="fadeIn first" placeholder="contraseña actual">
            <input [(ngModel)]="changePasswordForm.newPassword" name="newPassword" id="newPassword" type="password" class="fadeIn second" placeholder="nueva contraseña">
            <input [(ngModel)]="changePasswordForm.newPasswordRepeat" (ngModelChange)="validateNewPassword()" name="newPasswordRepeat" id="newPasswordRepeat" type="password" class="fadeIn third" placeholder="repetir nueva contraseña">
            <div  *ngIf="wrongPassword" class="error">
                Las contraseñas no son iguales
              </div>
            <br>
            <input [disabled]="wrongPassword" (click)="changePassword()" type="submit" class="fadeIn fourth submit" [class.dis]="wrongPassword" value="Cambiar contraseña">

        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#"></a>
        </div>

    </div>
</div>