<div id="hero" class="d-flex align-items-center">
  <!-- <div class="half-circle"></div> -->
  <div class="half-circle-2"></div>

  <div class="container" data-aos="zoom-out" data-aos-delay="500" data-aos-offset="200">
    <h1>Conectados invertimos mejor</h1>
    <h2>La conexión es la base del éxito. Impulsamos el movimiento.</h2>
    <h2>
      Te facilitamos los puentes para que expandas tus oportunidades de negocio.
    </h2>
    <div class="d-flex main-btn">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary">Se miembro de la comunidad</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary">
            Test:¿Qué tipo de inversor eres?
          </button>
        </div>
      </div>
    </div>
  </div>
</div>