.title {
  text-align: center;
  font-family: "Gotham Book", sans-serif;
  margin: 15px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.subtitle {
  font-family: "Gotham Book", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.body {
  font-family: "Gotham Book", sans-serif;
  font-size: 19px;
  text-align: center;
  opacity: 1;
}

.seccion-description {
  color: #ffffff;
}

.square {
  background-color: #2a38be;
  margin: auto;
  font-size: 15pt;
  opacity: 1;
  position: absolute;
  left: 5%;
  right: 5%;
  p {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    @media (min-width: 700px) {
      padding: 30px;
    }
  }
}

.quienes-somos-2 {
  background: url("/assets/img/1x/todos.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
}
.commandments {
  background-image: url("/assets/img/1x/Proyectos_Arco.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  //     background-attachment: fixed;
  //     background-position: bottom center;
  // }
  background-color: #fff;
}

h1 {
  padding: 15px;
}

.span-description {
  color: #2a38be;
  font-weight: bold;
}

//carrousel

.carousel-item .number {
  font-size: 100px;
  padding: 70px;
  @media (max-width: 450px) {
    font-size: 60px;

  }
}

.carousel-item p {
  font-size: 15px;
  padding: 25px;
}
 
.carousel-item h1 {
  font-size: 55px;
  @media (max-width: 450px) {
    font-size: 30px;

  }
}
.carousel-item {
  height: 700px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators {
  top: 0px;
}

span .carousel-control-next-icon {
  background-color: black;
}
.carousel-indicators .active {
  background-color: #fff;
}

.carousel-inner{

  margin: 0 auto;
  max-width: 800px;
}
