<!-- ======= Footer ======= -->
<section id="footer-seccion" class="footer">
    <div class="container" data-aos="fade-up">
      <footer>
        <div class="footer-top">
          <div class="row">
  
            <div class="col-sm-12 col-lg-3 col-md-3 footer-contact footer-text">
              <div class="col-lg-3 text-center ">
                <img src="assets/img/logo.png" />
              </div>
              <br>
  
            </div>
            <div class="col-sm-12 col-lg-9 col-md-9">
                <p >The Quality Bridge no proporciona asesoramiento financiero y nada en esta web debe
                  interpretarse como tal. La información que aparece en estas páginas es para fines de
                  información general y no constituye un asesoramiento específico. Tampoco es una recomendación
                  para invertir. En caso de tener alguna duda, deberás buscar asesoramiento financiero independiente.
                  La información publicada en la Web respecto de las distintas alternativas de inversión no podrá
                  ser considerada como asesoramiento en materia de inversión, teniendo, por tanto, el valor de</p>
              </div>
  
  
          </div>

        </div>
      </footer><!-- End Footer -->
  
      <div id="preloader"></div>
      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    </div>
  </section>