<p class="title">Somos una <span style="color: #2A38BE;">Comunidad de inversores</span></p>
<p class="subtitle">Nos movemos. Nos conectamos. Compartimos. Invertimos.</p>
<div class="body">
  <p>
    Creamos los puentes para facilitarte la conexión horizontal y colaborativa
    entre los miembros.
  </p>
  <p>
    Impulsamos el movimiento entre pares para nutrir la toma de decisión de cada
    uno y alcanzar el éxito compartido.
  </p>
  <p>Lo hacemos a traves de dos pilares fundamentales:</p>
</div>

<div class="image">
  <div class="row" style="justify-content: center">
    <app-services-card></app-services-card>
  </div>
  <div class="square">
    <p>
      ¿Qué hubiera sido de Warren Buffet sin Charlie Mugner para diseñar su
      modelo de inversión y transformarse en uno de los mejores inversores del
      mundo?
    </p>
  </div>
</div>
