<div class="card-service col-md-6 col-lg-6 d-flex mb-5 mb-lg-0">
  <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="icon">
        <i [class]="icon" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <h4 class="title" style="font-size: 32px">
          <a href="">{{ title }}</a>
        </h4>
      </div>
    </div>

    <p class="description">
      {{ text }}
    </p>
  </div>
</div>
