.container_row {
  display: grid;
  text-align: center;
  text-align: -webkit-center;
  img {
    justify-self: center;
    height: 180px;
    margin-top: 50px;
    margin-bottom: 50px;
    @media (max-width: 450px) {
      height:150px;
    }
  }
}
.sublogo {
  color: #fff;
  width: 250px;
  text-align: center;
}
