<section id="wiki" class="wiki">
    <div class="container" data-aos="fade-up">
        <p class="title">
            <span style="color: #2a38be">WikiBridge</span>
        </p>
        <div class="body">
            <p>
                Te compartimos un puente directo a las definiciones <br>
                de los conceptos mas importantes que todo inversor debe conocer.
            </p>
            <br>
            <div class="phone row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 row">
                    <img src="assets/img/wpp.png" class="img-fluid image-wpp" alt="">
                    <p>1136207081</p>
                </div>
            </div>


            <p class="title">
                <span class="letters">A</span>
                <span class="letters">B</span>
                <span class="letters">C</span>
                <span class="letters">D</span>
                <span class="letters">E</span>
                <span class="letters">F</span>
                <span class="letters">G</span>
                <span class="letters">H</span>
                <span class="letters">i</span>
                <span class="letters">J</span>
                <span class="letters">K</span>
                <span class="letters">L</span>
                <span class="letters">M</span>
                <span class="letters">N</span>
                <span class="letters">O</span>
                <span class="letters">P</span>
                <span class="letters">Q</span>
                <a class="letters team section-bg" href="/wiki#R">A</a>

                <span class="letters">R</span>
                <span class="letters">S</span>
                <span class="letters">T</span>
                <span class="letters">U</span>
                <span class="letters">V</span>
                <span class="letters">W</span>
                <span class="letters">X</span>
                <span class="letters">Y</span>
                <span class="letters">Z</span>
            </p>

            <h1 class="word-title">A</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Activo</h3>
                <div class="square">
                    <p>
                        Es un derecho que se posee generalmente en forma de documentos (bonos) o bienes inmuebles
                        (propiedades).
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Ahorro</h3>
                <div class="square">
                    <p>
                        apartar una suma de dinero del total de los ingresos de una persona para cumplir con objetivos
                        futuros. Es lo que guardo hoy, para invertir mañana.
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Apalancamiento</h3>
                <div class="square">
                    <p>
                        es la relación entre crédito y capital propio invertido en una operación financiera. Si invierto
                        más dinero propio que prestado, estoy menos apalancado y por el contrario, si invierto más con
                        dinero prestado que con el propio estoy más apalancado.
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Aversión al Riesgo</h3>
                <div class="square">
                    <p>
                        Actitud de rechazo que experimenta un inversor ante el riesgo financiero, en concreto, ante la
                        posibilidad de sufrir pérdidas en el valor de sus activos. El grado de aversión al riesgo
                        determina el perfil del inversor (se suele distinguir entre conservador, medio, arriesgado) y
                        debe ser el punto de partida para elegir un producto de inversión.
                    </p>
                </div>
            </div>
            <h1 class="word-title">B</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Aversión al Riesgo</h3>
                <div class="square">
                    <p>
                        Significa “cadena de bloques” : es un sistema digital por el cual se pueden hacer transacciones
                        seguras entre personas en todo el mundo sin necesidad de intermediarios. Es una tecnología que
                        apunta a la descentralización como medida de seguridad. Se trata de bases de registros y datos
                        distribuidos y compartidos con la función de crear un índice global para todas las transacciones
                        que se generan en un determinado mercado. Funciona como un libro-razón, sólo que de forma
                        pública, compartida y universal, que crea consenso y confianza en la comunicación directa entre
                        dos partes, o sea, sin la intermediación de terceros. Su sistema es inviolable
                    </p>
                </div>
            </div>
            <h1 class="word-title">C</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Capital</h3>
                <div class="square">
                    <p>
                        Es el total de recursos físicos y financieros que posee una entidad económica, obtenidos
                        mediante aportes de los socios o accionistas, para generar beneficios o ganancias
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Comunidad de inversores</h3>
                <div class="square">
                    <p>
                        Es un conjunto de personas que conforman un grupo orientado a llevar adelante inversiones de
                        forma comunitaria, es decir, que los intereses individuales estén reforzados por la solidez
                        comunitaria, a manera de sociedad
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Criptodivisas</h3>
                <div class="square">
                    <p>
                        También llamadas criptomonedas, son dinero digital. Las más conocidas son Bitcoin y Ethereum,
                        pero existen muchas otras disponibles en el mercado, incluso se siguen creando nuevas. Su uso es
                        cada vez más extendido, así como la cantidad de usuarios es cada día mayor en número y en
                        volumen de dinero
                        operado en el mercado global

                    </p>
                </div>
            </div>
            <h1 class="word-title">D</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Deuda</h3>
                <div class="square">
                    <p>
                        La deuda es una obligación que tiene una persona física o jurídica para cumplir sus compromisos
                        de pago
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Diversificación financiera</h3>
                <div class="square">
                    <p>
                        Es el proceso mediante el cual los individuos o sociedades reducen el riesgo de sus inversiones
                        a traves de la colocación de sus recursos en títulos con características diversas
                    </p>
                </div>
            </div>
            <h1 class="word-title">E</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Estrategias de inversión</h3>
                <div class="square">
                    <p>
                        Determina en qué activos debe invertir un individuo según sus objetivos, necesidades y capital
                        disponible
                    </p>
                </div>
            </div>

            <h1 class="word-title">F</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Flipping</h3>
                <div class="square">
                    <p>
                        Es un término utilizado principalmente en USA para describir la compra de un activo generador de
                        ingresos y revenderlo rapidamente con fines de lucro. Aunque se puede aplicar a cualquier
                        activo, el término se utiliza con mayor frecuencia en el negocio de inmuebles/bienes raíces.
                        Flipping houses se utiliza como sinónimo de fix and flip.
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Flipper</h3>
                <div class="square">
                    <p>
                        Se refiere a aquel que compra una casa a bajo costo, la remodela y luego la vende. Es quien se
                        dedica al negocio del flipping o fix and flip y lo lleva adelante en todo su proceso.
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Flix & Flip</h3>
                <div class="square">
                    <p>
                        Se refiere al negocio de comprar casas en USA para su posterior remodelación y reventa, en un
                        corto lapso de tiempo (normalmente entre 4 y 6 meses) para obtener el mayor margen de ganancia
                        posible.
                    </p>
                </div>
            </div>
            <h1 class="word-title">G</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Ganancia</h3>
                <div class="square">
                    <p>
                        Es básicamente un mayor grado de ingresos sobre los gastos realizados en una inversión
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Ganancia bruta</h3>
                <div class="square">
                    <p>
                        Es la diferencia entre los ingresos totales de una compañía o venta de sus productos y
                        servicios, y los costos directos asociados con la venta de esos productos y/o servicios. La
                        ganancia bruta se determina tomando los ingresos de las ventas totales y restando el costo de
                        los artículos.
                    </p>
                </div>
            </div>
            <h1 class="word-title">I</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Interés</h3>
                <div class="square">
                    <p>
                        Es el lucro obtenido a partir de un capital, la ganancia o utilidad que se puede sacar sobre una
                        inversión o bien aportado
                    </p>
                </div>
            </div>
            <h1 class="word-title">L</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Interés</h3>
                <div class="square">
                    <p>
                        Es la capacidad que tiene un individuo, empresa o entidad para obtener dinero para sus
                        obligaciones a corto plazo
                    </p>
                </div>
            </div>
            <div id="#R"> df</div>
            <h1 class="word-title">R</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Real Estate</h3>
                <div class="square">
                    <p>
                        Se refiere a bienes inmuebles o bienes raíces, es decir, invertir en bienes de posición fija, ya
                        sea para construcción o adquisición de inmuebles para su revalorización y/o obtención de renta
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Renta Fija</h3>
                <div class="square">
                    <p>
                        Una renta es fija porque el rendimiento obtenido es siempre el mismo, ya sea de forma mensual,
                        semestral, anual, étc. Por ejemplo el arrendamiento de una vivienda o el interés obtenido por un
                        préstamo otorgado
                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Renta Variable</h3>
                <div class="square">
                    <p>
                        Es un tipo de inversión en la que la recuperación del capital y la rentabilidad no están
                        garantizados; puede ser nula o mucho mayor a la renta fija.
                        Un claro ejemplo son las acciones en bolsa.

                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">Riesgo de inversión</h3>
                <div class="square">
                    <p>
                        La inversión es más riesgosa cuando más variable es el rendimiento que podemos esperar de la
                        misma. En este sentido, riesgo es sinónimo de volatilidad


                    </p>
                </div>
            </div>
            <div class="boxWord">
                <h3 class="word-sub-title">ROI (retorno sobre la inversión, por sus siglas en inglés)</h3>
                <div class="square">
                    <p>
                        Es un indicador que permite saber cuánto dinero ganó o perdió una empresa en relación a todas
                        las inversiones realizadas (proyectos, anuncios, entrenamientos, étc.) El Roi se obtiene
                        mediante la siguiente fórmula: (Ganancia - Inversión ) / Inversión. Si el resultado es menor a
                        0, la inversión tiene retorno negativo; caso contrario, el retorno es positivo y por lo tanto
                        hay utilidades


                    </p>
                </div>
            </div>
            <h1 class="word-title">S</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Stablecoin</h3>
                <div class="square">
                    <p>
                        Es un tipo de criptomoneda que siempre tiene un precio estable. Este tipo de criptomonedas se
                        crean para enfrentar el escenario inestable del mercado criptográfico y garantizar un terreno
                        estable para todos. Dos ejemplos de stablecoins son Tether y Dai
                    </p>
                </div>
            </div>
            <h1 class="word-title">T</h1>
            <div class="boxWord">
                <h3 class="word-sub-title">Token</h3>
                <div class="square">
                    <p>
                        Es una unidad de valor que una organización crea para gobernar su modelo de negocio y dar más
                        poder a sus usuarios para interactuar con sus productos, al tiempo que facilita la distribución
                        y reparto de beneficios entre todos sus accionistas. Es, por lo tanto, más que una moneda ya que
                        tiene más usos, además de ser seguro ya que la mayoría de los tokens se asientan sobre el
                        protocolo inviolable de la tecnología blockchain
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>