<app-navbar visible="true"></app-navbar>

<section id="wiki" class="wiki">
  <div class="container" data-aos="fade-up">
    <p class="title-principal">
      <span style="color: #2a38be">WikiBridge</span>
    </p>
    <div class="body">
      <p>
        Te compartimos un puente directo a las definiciones <br />
        de los conceptos más importantes que todo inversor debe conocer.
      </p>
      <br />
      <div class="title row container">
        <a class="letters" (click)="setLetter('a')">A</a>
        <a class="letters" (click)="setLetter('b')">B</a>
        <a class="letters" (click)="setLetter('c')">C</a>
        <a class="letters" (click)="setLetter('d')">D</a>
        <a class="letters" (click)="setLetter('e')">E</a>
        <a class="letters" (click)="setLetter('f')">F</a>
        <a class="letters" (click)="setLetter('g')">G</a>
        <a class="letters" (click)="setLetter('h')">H</a>
        <a class="letters" (click)="setLetter('i')">I</a>
        <a class="letters" (click)="setLetter('j')">J</a>
        <a class="letters" (click)="setLetter('k')">K</a>
        <a class="letters" (click)="setLetter('l')">L</a>
        <a class="letters" (click)="setLetter('m')">M</a>
        <a class="letters" (click)="setLetter('n')">N</a>
        <a class="letters" (click)="setLetter('o')">O</a>
        <a class="letters" (click)="setLetter('p')">P</a>
        <a class="letters" (click)="setLetter('q')">Q</a>
        <a class="letters" (click)="setLetter('r')">R</a>
        <a class="letters" (click)="setLetter('s')">S</a>
        <a class="letters" (click)="setLetter('t')">T</a>
        <a class="letters" (click)="setLetter('u')">U</a>
        <a class="letters" (click)="setLetter('v')">V</a>
        <a class="letters" (click)="setLetter('w')">W</a>
        <a class="letters" (click)="setLetter('x')">X</a>
        <a class="letters" (click)="setLetter('y')">Y</a>
        <a class="letters" (click)="setLetter('z')">Z</a>
      </div>
      <div>
        <input
          type="text"
          placeholder="Buscar..."
          class="buscar"
          name="filterWiki"
          [(ngModel)]="filterWiki"
        />
      </div>
      <h1 id="A" class="word-title">
        {{ filterWiki.toUpperCase().charAt(0) }}
      </h1>
      <div class="boxWord" *ngFor="let wiki of wikiInfo | filter: filterWiki">
        <h3 class="word-sub-title">{{ wiki.title }}</h3>
        <div class="square">
          <p>
            {{ wiki.info }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
