<div class="body" id="proyectos">
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h3>Proyectos evaluados para invertir</h3>
      </div>
      <br />
      <p>
        The Quality Bridge evalúa distintos proyectos y los pone a disposición para que toda la comunidad pueda
        participar.
      </p>
      <br />
      <p>
        Tenemos un alto grado de compromiso con cada miembro y cada developer. Es por eso que nuestro equipo de
        inversores profesionales es quien se encarga de presentar las mejores oportunidades de inversión.
      </p>
      <br />
      <div class="row">
        <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/projects/Proyecto_Fix&Flip.jpg" class="img-fluid" alt="" />
              <div class="row">
                <div class="col-xs-2 col-lg-5 tag">
                  <p class="text-tag">Flix & Flip</p>
                </div>

              </div>
            </div>
            <div class="member-info">
              <h4>FIX & FLIP</h4>
              <span class="subrrayado">Rentabilidad proyectada:</span>
              <span>15% y 22% en dolares</span>
              <br>
              <span class="subrrayado">Ticket minimo:</span>
              <span>Desde 15000 U$S</span>
              <br>
              <span class="subrrayado">Tiempo para cobrar la renta:</span>
              <span>entre 4 y 6 meses</span>
              <br>
              <span class="subrrayado">Garantia propietaria:</span>
              <span>Check</span>
              <br />
            </div>
            <div class="footer-card row align-items-end">
              <div class="col-xs-12 col-lg-2 ">
                <img src="assets/img/flags/eeuu.png" class="circle" alt="" />
              </div>
              <div class="col-xs-12 col-lg-4 ubicacion">
                <p class="font-weight-bold">UBICACIÓN:</p>
                <p>Miami - USA</p>
              </div>
              <div class="col-xs-12 col-lg-6 ">
                <button class="btn btn-primary  btn-sm " type="button" id="toright" [routerLink]="['/projectDetail']">
                  Conoce más
                </button>
              </div>

            </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/projects/Proyecto_Fix&Flip.jpg" class="img-fluid" alt="" />
              <div class="row">
                <div class="col-lg-5 tag">
                  <p class="text-tag">Flix & Flip</p>
                </div>

              </div>
            </div>
            <div class="member-info">
              <h4>FIX & FLIP</h4>
              <span class="subrrayado">Rentabilidad proyectada:</span>
              <span>15% y 22% en dolares</span>
              <br>
              <span class="subrrayado">Ticket minimo:</span>
              <span>Desde 15000 U$S</span>
              <br>
              <span class="subrrayado">Tiempo para cobrar la renta:</span>
              <span>entre 4 y 6 meses</span>
              <br>
              <span class="subrrayado">Garantia propietaria:</span>
              <span>Check</span>
              <br />
            </div>
            <div class="footer-card row align-items-end">
              <div class="col-lg-2 ">
                <img src="assets/img/flags/eeuu.png" class="circle" alt="" />
              </div>
              <div class="col-lg-4 ubicacion">
                <p class="font-weight-bold">UBICACIÓN:</p>
                <p>Miami - USA</p>
              </div>
              <div class="col-lg-6 ">
                <button class="btn btn-primary  btn-sm " type="button" id="toright" [routerLink]="['/projectDetail']">
                  Conoce más
                </button>
              </div>

            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/projects/Proyecto_Fix&Flip.jpg" class="img-fluid" alt="" />
              <div class="row">
                <div class="col-lg-5 tag">
                  <p class="text-tag">Flix & Flip</p>
                </div>

              </div>
            </div>
            <div class="member-info">
              <h4>FIX & FLIP</h4>
              <span class="subrrayado">Rentabilidad proyectada:</span>
              <span>15% y 22% en dolares</span>
              <br>
              <span class="subrrayado">Ticket minimo:</span>
              <span>Desde 15000 U$S</span>
              <br>
              <span class="subrrayado">Tiempo para cobrar la renta:</span>
              <span>entre 4 y 6 meses</span>
              <br>
              <span class="subrrayado">Garantia propietaria:</span>
              <span>Check</span>
              <br />
            </div>
            <div class="footer-card row align-items-end">
              <div class="col-lg-2 ">
                <img src="assets/img/flags/eeuu.png" class="circle" alt="" />
              </div>
              <div class="col-lg-4 ubicacion">
                <p class="font-weight-bold">UBICACIÓN:</p>
                <p>Miami - USA</p>
              </div>
              <div class="col-lg-6 ">
                <button class="btn btn-primary  btn-sm " type="button" id="toright" [routerLink]="['/projectDetail']">
                  Conoce más
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
</div>