.title {
  font-family: "Gotham Book", sans-serif;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}

.subtitle {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.body {
  font-family: "Gotham Book", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin: auto;

    padding-top: 50px;
  
}
.col-centered {
  float: none;
  margin: 0 auto;
  display: block;
}
.btn-primary {
  background: #2a38be;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #111;
  text-align: left;
}
.subrrayado{
  text-decoration: underline;
}
.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  @media (max-width: 450px) {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 15px;

  }
}




.ubicacion{
  padding: 0px;
  font-size: 10px;

}

.ubicacion p {
  font-size: 10px;
}


.right{
  float:right;
}

.footer-card p {
  line-height: 1px;

}

.text-tag {
align-self: center;
align-content: center;
align-items: center;
justify-content: center;
vertical-align: bottom;
margin: auto;

}
.tag{
  background-color: #111;
  color: white;
  font-size: 14px;
  position: absolute;
  top:40px;
  justify-content: center;
  vertical-align: bottom;
  padding: 10px;


  @media (max-width: 450px) {
    top:20px;
    font-size: 12px;
    width: 50%;

  }
}

.section-title p {
  margin-top: 0px;
  font-size: 19px;
}


.member-info p, .member-info span {
  font-size: 12px;
  font-family: "Roboto", "sans-serif";
}

.member-info h4 {
  font-size: 19px !important;
  font-family: "Roboto", "sans-serif";
}

.description-proyect{
  text-align: left;
  color: #2a38be !important;
  font-size: 14px !important ;
  font-weight: bold;
  font-family: "Roboto", "sans-serif";

}

.end{
  bottom: 20px;
}

.subtitle-card{
  font-size: 20px !important;
  font-family: "Roboto", "sans-serif";
  margin-top: 40px;
  font-weight: bold;
  color: #111 !important;

}

.btn-block{
  margin-bottom: 10px;
}

