.title {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 42px;
  text-align: center;
}

.subtitle {
  font-family: "Gotham Rounded", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.body {
  font-family: "Gotham Book", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.col-centered {
  float: none;
  margin: 0 auto;
  display: block;
}
.btn-primary {
  background: #2a38be;
}
