<div class="body" id="proyectos">
  <section id="proyectos" class="team section-bg">
    <div class="container" data-aos="fade-up">
      <div id="section-title-proyectos">
        <h3>
          <span style="color: #2a38be">Proyectos</span> evaluados para invertir
        </h3>
      </div>
      <br />
      <p>
        Tenemos un alto grado de compromiso con cada miembro y cada developer.
        Es por eso que nuestro equipo de inversores profesionales es quien se
        encarga de presentar las mejores oportunidades de inversión a la
        comunidad.
      </p>
      <p class="subtitle-card tex-center">Conoce las propuestas próximas a lanzar</p>
      <br />
      <div class="row">
        <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/projects/real-estate-development.png" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Real Estate Development
              </h4>
              <br>
              <p class="description-proyect">
                Dolariza tus ahorros y genera una excelente rentabilidad. Accede desde USD 20.000 USD.
                Inversión en proyecto ubicado en área metropolitana de Buenos Aires.
              </p>
              <br />
            </div>
            <div class="">
              <div class="col-xs-12 col-lg-12">
                <button class="btn btn-primary btn-block " type="button" [routerLink]="['/projectDetail']">
                  ¿Quieres saber más? Contáctate
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 " data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/projects/land-investment.png" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Land Investment</h4>
              <br>
              <p class="description-proyect">
                Adquiere una fracción de tierra para aportar a un espectacular emprendimiento inmobiliario. Ingresa al
                negocio en una etapa preliminar para obtener una rentabilidad superior a la media del mercado.

                Inversión en proyecto ubicado en Rio Negro, Patagonia Argentina.
              </p>
              <br />
            </div>
            <div class="">
              <div class="col-xs-12 col-lg-12 ">
                <button class="btn btn-primary btn-block " type="button" [routerLink]="['/projectDetail']">
                  ¿Quieres saber más? Contáctate
                </button>
              </div>
            </div>
          </div> 
        </div>
        <div class="col-lg-4 col-md-4 container" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/projects/Proyecto_Fix&Flip_2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Fix & Flip</h4>
                            <br>

              <p class="description-proyect">
                Te acompañamos a comprar, remodelar y vender una casa en Estados Unidos en un corto período de tiempo.
                Altos retornos por su rápida capitalización.
                Proyecto de inversión gestionado y controlado integralmente por profesionales.
              </p>
              <br />
            </div>
            <div class="">
              <div class="col-xs-12 col-lg-12">
                <button class="btn btn-primary btn-block " type="button" [routerLink]="['/projectDetail']">
                  ¿Quieres saber más? Contáctate
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
</div>







<!-- <div
class="col-lg-4 col-md-4 d-flex align-items-stretch"
data-aos="fade-up"
data-aos-delay="400"
>
<div class="member">
  <div class="member-img">
    <img
      src="assets/img/projects/Proyecto_Fix&Flip.jpg"
      class="img-fluid"
      alt=""
    />
    <div class="row">
      <div class="col-xs-6 col-lg-8 tag">
        <p class="text-tag">Real Estate Development</p>
      </div>
    </div>
  </div>
  <div class="member-info">
    <h4>Real Estate Development
    </h4>
    <br>
    <span class="subrrayado">Rentabilidad proyectada:</span>
    <span>15% y 22% en dolares</span>
    <br />
    <span class="subrrayado">Ticket minimo:</span>
    <span>Desde 15000 U$S</span>
    <br />
    <span class="subrrayado">Tiempo para cobrar la renta:</span>
    <span>entre 4 y 6 meses</span>
    <br />
    <span class="subrrayado"
      >Garantia propietaria:
      <i class="fa fa-check" aria-hidden="true"></i
    ></span>
    <br>
    <p class="description-proyect">
      La inversión consiste en adquirir una fracción de tierra y
      aportarla a un emprendimiento inmobiliario. Es el momento
      indicado para ingresar al proyecto para obtener una rentabilidad
      superior a la media.
    </p>
    <br />
  </div>
  <div class="footer-card row align-items-end">
    <div class="col-xs-12 col-lg-2">
      <img
        src="assets/img/flags/argentina.png"
        class="circle"
        alt=""
      />
    </div>
    <div class="col-xs-12 col-lg-4 ubicacion">
      <p class="font-weight-bold">UBICACIÓN:</p>
      <p>xxx - ARG</p>
    </div>
    <div class="col-xs-12 col-lg-6">
      <button
        class="btn btn-primary btn-sm"
        type="button"
        id="toright"
        [routerLink]="['/projectDetail']"
      >
        Conoce más
      </button>
    </div>
  </div>
</div>
</div>

<div
class="col-lg-4 col-md-4 d-flex align-items-stretch"
data-aos="fade-up"
data-aos-delay="400"
>
<div class="member">
  <div class="member-img">
    <img
      src="assets/img/projects/Proyecto_Fix&Flip.jpg"
      class="img-fluid"
      alt=""
    />
    <div class="row">
      <div class="col-xs-3 col-lg-6 tag">
        <p class="text-tag">Land Investment</p>
      </div>
    </div>
  </div>
  <div class="member-info">
    <h4>Taormina del Sur</h4>
    <br>
    <span class="subrrayado">Rentabilidad proyectada:</span>
    <span>15% y 22% en dolares</span>
    <br />
    <span class="subrrayado">Ticket minimo:</span>
    <span>Desde 15000 U$S</span>
    <br />
    <span class="subrrayado">Tiempo para cobrar la renta:</span>
    <span>entre 4 y 6 meses</span>
    <br />
    <span class="subrrayado"
      >Garantia propietaria:
      <i class="fa fa-check" aria-hidden="true"></i
    ></span>
    <br>
    <p class="description-proyect">
      La inversión consiste en adquirir una fracción de tierra y
      aportarla a un emprendimiento inmobiliario. Es el momento
      indicado para ingresar al proyecto para obtener una rentabilidad
      superior a la media.
    </p>
    <br />
  </div>
  <div class="footer-card row align-items-end">
    <div class="col-lg-2">
      <img
        src="assets/img/flags/argentina.png"
        class="circle"
        alt=""
      />
    </div>
    <div class="col-lg-4 ubicacion">
      <p class="font-weight-bold">UBICACIÓN:</p>
      <p>xxx - ARG</p>
    </div>
    <div class="col-lg-6">
      <button
        class="btn btn-primary btn-sm"
        type="button"
        id="toright"
        [routerLink]="['/projectDetail']"
      >
        Conoce más
      </button>
    </div>
  </div>
</div>
</div> -->