$width: 215px;


.container_row {
  display: grid;
}
.layer1,
.layer2 {
  grid-column: 2;
  grid-row: 1;
}
.layer1 span {
  color: #fff;
  background: #2a38be;
}
.squares {
  position: relative;
  width: 100%;
}
.square {
  width: $width;
  height: 300px;
  border: 1px solid #2a38be;

  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  background-color: #191919;
  z-index: 2;
  .title {
    color: aliceblue;
    font-size: 120px;
    text-align: center;
    @media (max-width: 450px) {
      font-size: 25px;
      width:100px
    }
    
  }

  .number {
    color: #2a38be;
    font-size: 120px;
    text-align: center;
    @media (max-width: 450px) {
      font-size: 40px;
    }
  }

  .subtitle {
    color: aliceblue;
    font-size: 14px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    @media (max-width: 450px) {
      font-size: 8px;

    }
  }

  @media (max-width: 450px) {
    height: 150px;
    width:100px;

  }
  /* 10px between elements */
}
.square-1 {
  width: $width;
  height: 300px;
  border: 1px solid #2a38be;
  //margin: 5px 10px; /* 10px between elements */
  margin: -10px 20px;
  z-index: 1;
  @media (max-width: 450px) {
    height: 150px;
    width:100px;
    margin: -2px 15px;
  }
}
