$width: 215px;

.container_row {
  display: grid;
}
.layer1,
.layer2 {
  grid-column: 2;
  grid-row: 1;
}
.layer1 span {
  color: #fff;
  background: #2a38be;
}
.squares {
  position: relative;
  width: 100%;
}
.square {
  width: $width;
  height: 300px;
  border: 1px solid #2a38be;

  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  background-color: #191919;
  z-index: 2;
  .title {
    color: aliceblue;
    font-size: 120px;
    text-align: center;
  }

  .number {
    color: #2a38be;
    font-size: 120px;
    text-align: center;
  }

  .subtitle {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
  }
  /* 10px between elements */
}
.square-1 {
  width: $width;
  height: 300px;
  border: 1px solid #2a38be;
  //margin: 5px 10px; /* 10px between elements */
  margin: -10px 20px;
  z-index: 1;
}
