<header id="header" class="fixed-top" (scroll)="onWindowScroll($event)">
  <div class="">
    <div class="row justify-content-between">
      <div class="col-4">
        <img src="assets/img/logo.png" />
      </div>

      <div class="col-4">
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active">WikiBridge</li>
            <li>Blog</li>
            <li>10 Mandamientos</li>
          </ul>
        </nav>
      </div>
      <div class="col-4">
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active">
              <button routerLink="login" class="btn btn-primary btn-sm">
                Ingresar
              </button>
            </li>
            <li>
              <button class="btn btn-primary btn-sm" (click)="display = true">
                Sidebar
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<p-sidebar styleClass="sidebar" [(visible)]="display" position="right" [ngStyle]="{backgroundColor:'var(--blue-500)'}">
  <div class="sidebar">CONTENT</div>
</p-sidebar>
