<header id="header" class="fixed-top" [ngClass]="{visible:visible}" (scroll)="onWindowScroll($event)">
  <div class="">
    <div class="row justify-content-between">
      <div class="col-4 text-center">
        <img src="assets/img/logo.png" [routerLink]="['/']" />
      </div>

      <div class="col-4 ">
        <nav class="nav-menu d-none d-lg-block text-center">
          <ul>
            <li class="active">WikiBridge</li>
            <li>Blog</li>
            <li routerLink="commandments">10 Mandamientos</li>
          </ul>
        </nav>
      </div>
      <div class="col-4">
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active">
              <button routerLink="login" class="btn btn-primary btn-sm">
                Ingresar
              </button>
            </li>
            <li>
              <div class="icon" style="font-size: 32px" (click)="display = true">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<p-sidebar styleClass="sidebar" [(visible)]="display" position="right" [style]="{ width: '25em' }"
  [transitionOptions]="'0.20s'" [ngStyle]="{ backgroundColor: 'var(--blue-500)' }">
  <ul class="navbar-options">
    <li>¿Qué es The Quality Bridge?</li>
    <li>La comunidad: ¿Por qué ser parte?</li>
    <li>Proyectos</li>
    <li>
      <a [routerLink]="['/testInversor']">Test: ¿Qué tipo de inversor eres?</a>
    </li>
    <li>Proyectos</li>
    <li>10 mandamientos del inversor</li>
    <li>Portal de Contenidos/Blog</li>
    <li>WikiBridge</li>
  </ul>
</p-sidebar>