<header id="header" class="fixed-top sombra" [ngClass]="{ visible: visible }" (scroll)="onWindowScroll($event)">
  <div class="">
    <div class="row justify-content-between" style="width: 100%">
      <div class="col-4 text-center">
        <img class="sortable" [src]="
            isNegative || visible
              ? 'assets/img/logo-negative.png'
              : 'assets/img/logo.png'
          " [routerLink]="['/']" />
      </div>

      <div class="col-4">
        <nav class="nav-menu d-none d-lg-block pull-right">
          <ul style="padding-top: 10px">
            <a href="/wiki">WikiBridge</a>
            <a href="/commandments">Mandamientos</a>
            <a href="/testInversor">Test</a>
            <a href="#proyectos">Proyectos</a>
            <a href="/" (click)="goToBlog()">TheQualityBlog</a>

            <!-- <li routerLink="/wiki" target="_blank">WikiBridge</li>
            <li routerLink="/commandments">Mandamientos</li>
            <li routerLink="/testInversor">Test</li>
            <li [routerLink]="['/']" fragment="proyectos">Proyectos</li>
            <li (click)="goToBlog()" >TheQualityBlog</li> -->
          </ul>
        </nav>
      </div>
      <div class="col-4">
        <nav class="nav-menu text-center">
          <ul>
            <li *ngIf="!isAuthenticated" class="active d-none d-lg-block">
              <!-- <button routerLink="/login" class="btn btn-primary btn-sm">
                Ingresar
              </button>
            </li> -->
            <li class="active d-none d-lg-block">
              <a href="#contact">
                <button class="btn btn-primary btn-sm">
                  Únete
                </button>
              </a>
            </li>
            <!-- <li *ngIf="isAuthenticated" class="active d-none d-lg-block">
              <button (click)="logOut()" class="btn btn-primary btn-sm">
                Salir
              </button>
            </li> -->
            <li>
              <div class="col-1 icon float-right" style="font-size: 32px" (click)="display = true">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<p-sidebar styleClass="sidebar" [(visible)]="display" position="right" [style]="{ width: '25em' }"
  [transitionOptions]="'0.20s'" [ngStyle]="{ backgroundColor: 'var(--blue-500)' }">
  <ul class="navbar-options">
    <li [class.active]="activeFragment === 'quienes-somos-1'">
      <a (click)="closeMenu()" href="#quienes-somos-1" class="menu-item"> ¿Qué es The Quality Bridge?</a>

    </li>
    <li>
      <a (click)="closeMenu()" href="#miembros" class="menu-item"> La comunidad: ¿Por qué ser parte?</a>
    </li>
    <li>
      <a href="/testInversor" class="menu-item">Test: ¿Qué tipo de inversor eres?</a>
    </li>
    <li>
      <a href="/wiki" class="menu-item">WikiBridge</a>
    </li>
    <li>
      <a href="/commandments" class="menu-item">Mandamientos</a>
    </li>
    <li>
      <a (click)="closeMenu()" href="#proyectos" class="menu-item">Proyectos</a>
    </li>
    <li (click)="goToBlog()" class="menu-item">
      TheQualityBlog
    </li>
    <li *ngIf="!isAuthenticated" [routerLink]="['/login']" class="menu-item">
      Ingresar
    </li>
    <li *ngIf="isAuthenticated" (click)="logOut()" class="menu-item">
      Salir
    </li>
  </ul>
</p-sidebar>