<!--
<div class="main">
  <div class="squares">
    <div class="square">
      <p class="title">1</p>
	  <p class="title" >  B</p>
    </div>
    <div class="square-1"></div>
  </div>
</div>
-->
<div class="main">
  <p class="main-title">¿Por qué ser miembro?</p>
  <div class="row justify-content-between">
    <div class="col-2">
      <div class="container_row">
        <div class="layer1">
          <div class="square-1"></div>
        </div>
        <div class="layer2">
          <div class="square">
            <p class="title">1</p>
            <p class="subtitle">Acceder a excelentes propuestas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="container_row">
        <div class="layer1">
          <div class="square-1"></div>
        </div>
        <div class="layer2">
          <div class="square">
            <p class="title">2</p>
            <p class="subtitle">Invertir de forma más segura</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="container_row">
        <div class="layer1">
          <div class="square-1"></div>
        </div>
        <div class="layer2">
          <div class="square">
            <p class="title">3</p>
            <p class="subtitle">Aprender de la experiencia de otros inversores</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="container_row">
        <div class="layer1">
          <div class="square-1"></div>
        </div>
        <div class="layer2">
          <div class="square">
            <p class="title">4</p>
            <p class="subtitle">Interpretar mejor el mercado</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="container_row">
        <div class="layer1">
          <div class="square-1"></div>
        </div>
        <div class="layer2">
          <div class="square">
            <p class="title">5</p>
            <p class="subtitle">Tomar mejores decisiones</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="container_row">
        <img src="assets/img/logo1.png" />
        <p class="sublogo">
          Contenidos clave <br />
          sobre inversiones <br />y negocios
        </p>
      </div>
    </div>
    <div class="col-3">
      <div class="container_row">
        <img src="assets/img/logo2.png" />
      </div>
      <p class="sublogo">
        Debates <br />
        en grupos de Whatsapp <br />
        y Telegram
      </p>
    </div>
    <div class="col-3">
      <div class="container_row">
        <img src="assets/img/logo3.png" />
      </div>
      <p class="sublogo">
        Reuniones virtuales <br />
        para ampliar conocimiento <br />
        y conocer oportunidades
      </p>
    </div>
  </div>
</div>