.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  font-family: "Gotham Book", sans-serif;

  padding-top: 5vh;
}

.test {
  background-color: black;
  button {
    text-align: center;
    margin: 10px;
    @media (max-width: 760px) {
      margin: 5px;
    }
  }
}
.product-item {
  background-color: black;
  .product-item-content {
    margin: 0.3rem;

    padding: 2rem 0;
  }
}
.question-title {
  text-align: center;
  text-align: justify;
  color: #ffffff;
  margin: 40px;
  font-family: "Gotham Book", sans-serif;
  padding-bottom: 40pt;
  font-size: 24pt;
  text-align: center;
  margin: 5px;
  @media (max-width: 760px) {
    font-size: 15pt;
    padding-bottom: 15pt;
  }
}

.options {
  color: #ffffff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @media (max-width: 769px) {
    text-align: center;
  }
}

.row {
  margin: 0;
}

.main {
  min-height: 60vh;
  //background: url("/assets/img/Test_Arco.png") top left;
}
.test {
  min-height: 60vh;
  padding: 5vh 0vh;
  padding-bottom: 0;
}
.numbers {
  @media (max-width: 760px) {
    padding-top: 5vh;
  }
}

.btn {
  background-color: #2a38be;
  padding: 8px 20px;
  font-family: "Gotham Book", sans-serif;

  text-align: center;
  margin: 40px;
}

.img-result {
  width: 100%;
  max-width: 350px;
  margin-top: 50px;
}

.barValue {
  margin: 0;
  margin-top: 30px;
  color: #ffffff;
}
.description {
  text-align: justify;
  padding: 10px;
  color: #ffffff;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.type-title {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  padding-top: 40px;
}

.questionButton {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  font-size: 25pt;
  justify-content: center;
  @media (max-width: 760px) {
    width: 40px;
    height: 40px;
    font-size: 12pt;
  }
}
.question {
  background-color: #2a38be;
  border: unset;
  border-radius: 50%;
}
.actualQuestion {
  color: #000;
}
.button-seccion {
  margin: 30px;
  margin-bottom: 30px;
  @media (max-width: 450px) {
    margin: 15px;
  }
}

.arco {
  text-align: center;
}
.arco-img {
  height: 50%;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.p-button.p-button-outlined {
  color: #2a38be;
  border: 3px solid;
}

.buttonBack {
  background-color: #606060;
  color: #a3a3a2;
}

.modal-content {
  width: 100%;
  border-radius: 1rem;
}

.title {
  margin: 30px;
}

.btn {
  margin-top: 0px;
}

.result-email {
  margin: 50px;
}
.categoria-reult {
  font-size: 10px;
  @media (max-width: 750px) {
    font-size: 7px;
  }

  @media (max-width: 450px) {
    font-size: 5px;
  }

  #disp {
    @media (min-width: 0px) and (max-width: 450px) {
      display: none !important;
    }
  }

  .prueba {
    font-size: 4px;
    text-align: center;
    justify-content: center;
    align-self: center;
  }
  // .cate{
  //   display: none;
  //   @media (min-width: 0px) and (max-width: 450px){
  //     display: block;
  //     font-size: 8px; s
  //     }
  // }


}
.arrow{
  margin: 0px;
  padding: 0px;
  color: #2a38be;
  font-size: 14px;
}