<app-topbar></app-topbar>
<app-navbar visible="true"></app-navbar>
<div class="main" *ngIf="!test">
  <div class="section-title">
    <h3>Todos tenemos un estilo. ¿Cuál es el tuyo?</h3>
  </div>
  <p style="text-align: center">
    Responde 10 preguntas y conoce cual es tu aversión al riesgo y cómo eso
    define qué tipo de inversor eres.
  </p>
  <div class="row justify-content-center">
    <button class="btn btn-primary" (click)="test = true">Comenzar</button>
  </div>
</div>
<div class="test" *ngIf="test && !ending">
  <div class="numbers row justify-content-md-center">
    <button
      pButton
      pRipple
      *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
      type="button"
      class="p-button-rounded"
      [ngClass]="{ 'p-button-outlined': number > pageActual }"
      [disabled]="number > pageActual"
      (click)="pageActual = number - 1"
    >
      {{ number }}
    </button>
  </div>
  <p-carousel
    [value]="questions"
    [page]="pageActual"
    [showIndicators]="false"
    [showNavigators]="false"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="false"
  >
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div>
            <h4 class="p-mb-1" class="question-title">
              {{ product.question }}
            </h4>
            <form
              #myForm="ngForm"
              (submit)="templateForm(myForm.value)"
              novalidate
            >
              <div class="row justify-content-center">
                <div
                  class="col-12 col-md-2"
                  *ngFor="let option of product.options; let i = index"
                >
                  <div class="form-check options">
                    <input
                      [(ngModel)]="this['q' + pageActual]"
                      class="form-check-input"
                      [value]="i + 1"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      {{ option }}
                    </label>
                  </div>
                </div>
              </div>
            </form>
            <div class="row justify-content-center">
              <button
                class="btn btn-primary btn-sm"
                (click)="
                  pageActual == 9 ? endTest() : (pageActual = pageActual + 1)
                "
                [disabled]="!this['q' + pageActual]"
              >
                {{ pageActual == 9 ? "Finalizar" : "Siguiente" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="test" *ngIf="test && ending">
  <div class="row justify-content-center">
    <div *ngIf="aguila">
      <img class="img-result" src="assets/img/test/Test_Aguila.png" />
    </div>
    <div *ngIf="buho">
      <img class="img-result" src="assets/img/test/Test_Bhuo.png" />
    </div>
    <div *ngIf="lobo">
      <img class="img-result" src="assets/img/test/Test_Lobo.png" />
    </div>
    <div *ngIf="oso">
      <img class="img-result" src="assets/img/test/Test_Oso.png" />
    </div>
    <div *ngIf="puma">
      <img class="img-result" src="assets/img/test/Test_Puma.png" />
    </div>
  </div>

  <div class="barValue row justify-content-center">
    <div class="col-3 col-md-2" style="text-align: right">
      <label>Conservador</label>
    </div>
    <div class="col-6 col-md-5">
      <p-progressBar [value]="75" [showValue]="false"></p-progressBar>
    </div>
    <div class="col-3 col-md-2">
      <label>Arriesgado</label>
    </div>
  </div>

  <p class="description">{{description}}</p>
</div>
