<section id="presentar-proyecto" class="presentar-proyecto">
  <div class="container" data-aos="fade-up">
    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6 d-flex justify-content-center">
        <img src="assets/img/logo1.png" />
      </div>

      <div class="col-lg-6">
        <div class="section-title text">
          <h3><span>Quiero presentar</span></h3>
          <h3><span>mi proyecto a la comunidad</span></h3>
        </div>
        <p>
          Cuentanos tu propuesta para poder evaluarla y compartirla <br />
          con todos los miembros
        </p>
        <button class="btn btn-secundary" type="submit">Contactarme</button>
      </div>
    </div>
  </div>
</section>
