<div class="body">

  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h3>Proyectos evaluados para invertir</h3>
        <hr>
        <p>
          The Quality Bridge evalúa distintos proyectos y los pone a disposición a
          toda la comunidad para que todos puedan participar.
        </p>

      </div>
      <p>
        Tenemos un alto grado de compromiso con cada miembro y cada developer, es
        por eso que nuestro equipo de inversores profesionales es quien se encarga
        de presentar las mejores oportunidades de inversión.
      </p>
      <div class="row ">
        <div class="col-lg-3 col-md-3  offset-md-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/projects/Proyecto_Fix&Flip.jpg" class="img-fluid" alt="">

            </div>
            <div class="member-info">
              <h4>FIX & FLIP</h4>
              <span>Invertí en adquisición de viviendas unifamiliares y multifamiliares para comprar y vender (Flipping)
                o para venta</span>
              <br>
              <span>LUGAR:</span>
              <span>Miami-Orlando-Houston-Austin-Idaho</span>
              <span>USA</span>
            </div>
            <button class="btn btn-primary pull-right footer-card btn-sm" type="button" id="toright">Conoce
              más</button>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/projects/Proyecto_Fix&Flip.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>FIX & FLIP</h4>
              <span>Invertí en adquisición de viviendas unifamiliares y multifamiliares para comprar y vender (Flipping)
                o para venta</span>
              <br>
              <span>LUGAR:</span>
              <span>Miami-Orlando-Houston-Austin-Idaho</span>
              <span>USA</span>


            </div>
            <button class="btn btn-primary pull-right footer-card btn-sm" type="button" id="toright">Conoce
              más</button>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->
</div>