/* You can add global styles to this file, and also import other style files */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  //color: #106eea;
}

a:hover {
  //color: #3b8af2;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Gotham Book", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

//color buttons

.btn-secondary {
  background-color: #111111;
  border-color: #2a38be;
  color: #fff;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

#section-title-proyectos{
  text-align: center;
  padding-bottom: 10px;
}
#section-title-proyectos h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  //color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

.team {
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #3b8af2;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
  text-align: left;
}

.team .member .member-info p {
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}
.footer-card {
  margin: 15px;
}
@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
//presentar proyecto
#presentar-proyecto .text {
  text-align: left;
}
//footer
.footer {
  background-color: #191919;
}

//Fuentes

@font-face {
  font-family: "Gotham Rounded";
  src: local("Gotham Rounded"),
    url(./assets/fonts/GothamRnd-Book.otf) format("truetype");
}
@font-face {
  font-family: "Gotham Book";
  src: local("Gotham Book"),
    url(./assets/fonts/Gotham-Book.otf) format("truetype");
}

.p-sidebar-right {
  background: rgba(0, 0, 0, 0.8) !important;
  color: #fff !important;
}

.p-progressbar-value {
  background: #2a38be !important;
}
.p-dropdown,
.p-calendar {
  width: 235px;
}
.body {
  padding-top: 10px !important;
}

.swal2-styled.swal2-confirm {
  background-color: #2a38be !important;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #39ace7 !important;
}

.btn-secondary:hover {
  background-color: #302f2f !important;
}

html {
  scroll-behavior: smooth;
}
