<!-- ======= Footer ======= -->
<section id="footer" class="footer">
  <div class="container" data-aos="fade-up">
    <footer>
      <div class="footer-top">
        <div class="row">

          <div class="col-lg-3 col-md-3 d-flex justify-content-center">
            <div class="logo-footer">
              <img src="assets/img/logo.png" />
            </div>

          </div>

          <div class="col-lg-3 col-md-3 footer-links footer-text ">
            <p class="address text-center">
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Phone:</strong> +1 5589 55488 55<br>

              <strong>Email:</strong> info@example.com<br>
            </p>
            <div class="row d-flex justify-content-center">
              <div class ="col-1">
                <a href="https://www.facebook.com/thequalitybridge/" class="social-link"> <i class="bi bi-facebook"></i></a>
              </div>
              <div class ="col-1">
                <a href="https://www.instagram.com/thequalitybridge/"  class="social-link"> <i class="bi bi-instagram"></i></a>
              </div>
              <div class ="col-1">
                <a href="https://www.linkedin.com/company/thequalitybridge/"  class="social-link"> <i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 footer-links footer-text">
            <h6 class="text-center">QUIENES SOMOS</h6>
            <p class="text-quienes-somos"> The Quality Bridge está conformado por un equipo de inversores con experiencia que basaron su carrera
              profesional dentro del mundo de los negocios, siguiendo los preceptos que le dieron vida a la comunidad:
              Conexión y Movimiento.
            </p>
          </div>
          <div class="col-lg-3 col-md-3 footer-links footer-text optional">
            
            <p class="text-quienes-somos" style="margin-top: 19px;">
              Han participado en comunidades de inversiones formadas ad hoc para proyectos particulares y siempre
              llegaban a la misma conclusión, sustentada por los resultados obtenidos: Conectados Invertimos Mejor
            </p>
          </div>

        </div>
        <div class="col-lg-12 col-md-12 footer-links footer-text">
          <p >The Quality Bridge no proporciona asesoramiento financiero y nada en esta web debe
            interpretarse como tal. La información que aparece en estas páginas es para fines de
            información general y no constituye un asesoramiento específico. Tampoco es una recomendación
            para invertir. En caso de tener alguna duda, deberás buscar asesoramiento financiero independiente.
            La información publicada en la Web respecto de las distintas alternativas de inversión no podrá
            ser considerada como asesoramiento en materia de inversión, teniendo, por tanto, el valor de
            comunicaciones comerciales de carácter general. Cualquier decisión adoptada por el Usuario
            constituirá una decisión informada e independiente de los mismos. El Usuario deberá realizar las
            comprobaciones, estudios y análisis que consideren pertinentes para adoptar la decisión, de la que
            Se Socio no responderá en ningún caso. El valor de sus inversiones puede subir o bajar. La
            rentabilidad mostrada (u objetivos) no son necesariamente indicativos de la verdadera rentabilidad
            futura.
            Los Proyectos publicados en la Web no son objeto de autorización ni de supervisión por algùn ente
            regulador.
            Las previsiones, e información presentadas por los emprendedores puede cambiar o no ser certera</p>
        </div>
      </div>

      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>TQB</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i>
    </a>
  </div>
</section>