<a class="float">
  <i class="fa fa-whatsapp my-float"></i>
</a>
<div class="label-container">
  <div class="label-text">Contacto - 11367654</div>
  <i class="fa fa-play label-arrow"></i>
</div>

<a href="https://www.linkedin.com/company/thequalitybridge/">
  <i  class="fa fa-linkedin my-float-ln"></i>
</a>
<a href="https://www.instagram.com/thequalitybridge/">
  <i class="fa fa-instagram my-float-in"></i>
</a>

<div id="showMe" class="alert alert-info alert-dismissible fade show my-float-alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>¿Aún no eres miembro? </strong> <a href="#contact" class="unete-link" >Únete</a> y obtén material exclusivo
</div>






<video autoplay [muted]="true" loop id="myVideo">
  <source src="assets/videos/hero-video.mp4" type="video/mp4" />
  Your browser does not support HTML5 video.
</video>
<div id="hero" class="d-flex align-items-center">



  <!-- <div class="half-circle"></div> -->
  <div class="half-circle-2"></div>

  <div
    class="container-fluid"
    data-aos="zoom-out"
    data-aos-delay="500"
    data-aos-offset="200"
  >
    <h1 class="title">Conectados invertimos mejor</h1>

    <br />
    <h2>La conexión es la base del éxito. Impulsamos el movimiento.</h2>
    <h2>Te facilitamos los puentes para que expandas tus oportunidades.</h2>
    <div class="d-flex main-btn">
      <div class="row">
        <div class="col-md-6" [routerLink]="['/']" fragment="contact">
          <button class="btn btn-primary">Sé miembro de la comunidad</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-secondary" [routerLink]="['/testInversor']">
            Test: ¿Qué tipo de inversor eres?
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

